services:
  # backend:
  #   build: .
  #   ports:
  #     - "8000:8000"
  #   depends_on:
  #     - db
  #     - cache
  #   env_file:
  #     - .env
  #   restart: unless-stopped

  db:
    image: postgres:latest
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: postgres
    ports:
      - "5432:5432"

  cache:
    image: valkey/valkey
    ports:
      - "6379:6379"
